{% if page.header-image %}
<img class="header-image" src="{{ page.header-image }}" alt="">
{% if page.image-caption %}
<p class="header-image-caption">{{ page.image-caption }}</p>
{% endif %}
{% endif %}

<article>
  <p>
    <small>
      {{ page.date | date_to_long_string }}
    </small>
  </p>

  <h1 class="title">
    {{ page.title }}
  </h1>

  <div class="description">
    {{ page.description }}
  </div>

  {% if page.external-links %}
  <div class="external-links">
    {% if page.external-links.demo %}
    <a href="{{ page.external-links.demo }}">
      {% include icons/demo-version-icon.html %}
      <p>Live Demo</p>
    </a>
    {% endif %}

    {% if page.external-links.github %}
    <a href="{{ page.external-links.github }}">
      {% include icons/github-icon.html %}
      <p>Repository</p>
    </a>
    {% endif %}
  </div>
  {% endif %}

  <div class="content">
    <hr class="line" />
      {% if page.toc %}
      <blockquote id="toc">
        {% include toc.html html=page.content class="toc" h_min=2 h_max=3 %}
      </blockquote>
      {% endif %}
      {{ page.content }}
  </div>

  <p class='terminal'>
    <small>&nbsp;</small>
  </p>
  <hr class="line" />
</article>
