<div class="post-list" id="post-list">
  {% assign projects = site.posts %}

  {% for page in projects %}

  {% if page.case-study %}
  <a href="{{ page.url }}">
    <h2 class="title">
      {{ page.title }}
    </h2>
  </a>
  {% else %}
    <h2 class="title">
      {{ page.title }}
    </h2>
  {% endif %}

  <div class="description">
    {% if page.abstract %}
      {{ page.abstract }}
    {% else %}
      {{ page.description }}
    {% endif %}
  </div>

  <div class="external-links">
    {% if page.case-study %}
    <a href="{{ page.url }}">
      {% include icons/case-study-icon.html %}
      <p>Read More</p>
    </a>
    {% endif %}

    {% if page.external-links.demo %}
    <a href="{{ page.external-links.demo }}">
      {% include icons/demo-version-icon.html %}
      <p>Live Demo</p>
    </a>
    {% endif %}

    {% if page.external-links.github %}
    <a href="{{ page.external-links.github }}">
      {% include icons/github-icon.html %}
      <p>Repository</p>
    </a>
    {% endif %}

  </div>

  <hr class="line front" />

  {% endfor %}

</div>
