@import "reset/whitespace_reset";
@import "syntax-highlighting/syntax";

// Current Font Sizes
//                                              1.2-scale
//                   45      h1                 44.78
// $basefont * 1.5   27      h2                 25.92
// $basefont * 1.2   21.6    h2.sidebar         21.6
// $basefont         18      p, h3              18
// $basefont * 0.9   16.2    description        15
//                   14      p.sidebar, pre     12.5
//                   12      small              10.4


// 1.125 scale ...

// 46...
// 41...
// 36...
// 32...
// 28.833
// 25.629
// 22.781
// 20.25
// 18
// 16
// 14.2
// 12.642
// 11.237

// VARIABLES

$basefont: 17px;
$baseline: 30px; // this is more like the base line-height
$bodycolor: #595959;

// ALL THE REST

body {
  background-color: #fafafa;
  color: $bodycolor;
  font-family: 'Lato', sans-serif;
  font-size: $basefont;
  font-weight: normal;
  line-height: $baseline;
  margin: 2 * $baseline;
}

h1 {
  color: #303030;
  font-family: 'Anton', serif;
  font-weight: normal;
  font-size: 1.5 * $baseline;
  line-height: 1.5 * $baseline;
}

a h1:hover {
  color: #FF7F50;;
}

h2 {
  line-height: 1.5 * $basefont;
  font-size: 1.5 * $basefont;
  font-weight: bold;
  margin-top: 1.5 * $baseline;
  color: #FF7F50;
  font-weight: bold;
}

h2.sidebar {
  font-size: 1.2 * $basefont;
  line-height: 1.2 * $basefont;
  margin-top: 0.74 * $baseline;
}

h2 code {
  color: #FF7F50;
  font-weight: normal;
}

h3 {
  display: inline-block;
  margin-top: 0.74 * $baseline;
  line-height: $baseline;
  font-size: $basefont;
  font-weight: bold;
  color: #303030;
}

h3:after {
  content: ".";
  padding-right: 2px;
}

h3+p {
  display: inline;
}

p.sidebar {
  line-height: $basefont;
  font-size: 14px;
  margin-top: 0.25 * $baseline;
}

.sidebar-content{
  margin-bottom: 0.8 * $baseline;
}

.external {
  margin-top: $baseline;
}

.description {
  font-size: 0.9 * $basefont;
  line-height: 0.8 * $baseline;
  margin-top: 10px;
  margin-bottom: 10px;
}

a code {
  color: #FF7F50;
}

a code:hover {
  color: #494949;
}

img.mark {
  height: 25px;
}

.content {
  margin-top: 45px;
}

.content-inner {
  // margin-top: -20px;
}

p, ul, ol, pre, dl {
  margin-top: 0.74 * $baseline;
}

p.terminal {
  margin-top: 0;
  line-height: 0.74 * $baseline;
}

.sidebar-pad {
  padding: 5px;
}

a {
  color: #FF7F50;
  text-decoration:none;
}

a:hover, a:focus {
  color: #494949;
}

ul {
    list-style-type: none;
    padding-left: 1.3em;
}

ul > li:before {
    content: "—";
    position: absolute;
    margin-left: -1.3em;
}

a small {
  color:#777;
  margin-top:-0.3em;
  display:block;
}

.wrapper {
  width:1150px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
  color:#333;
}

p code {
  font-size: 17px;
}

pre {
  position: relative;
  padding:8px 15px;
  padding-right: 13px;
  padding-left: 13px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius:0px;
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.7;
}

table {
  // width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:328px;
  float:right;
  -webkit-font-smoothing:subpixel-antialiased;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:690px;
  float:left;
  padding-bottom:50px;
}

small {
  font-size:12px;
  line-height: 15px;
  color: $bodycolor;
  font-weight: normal;
}

hr.line {
  border:0;
  border-top: 2px solid #FF7F50;
  width: 35px;
  margin-left: 0px;
}

footer {
  width:260px;
  float:right;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

// styling code blocks with line numbers

pre.highlight {
  width: 100%;
  padding: 0;
  margin: 0;
  border-color: transparent;
}

.gutter, .rouge-gutter {
  padding-right: 1px;
  padding-left: 0;
}

.code, .rouge-code {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// RESPONSIVE

@media print, screen and (max-width: 1150px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }

  table {
    width: 100%;
    max-width: 100%;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
