<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <section>
      <!-- {% assign post = site.posts.first %} -->
      {% for post in site.posts %}
      <small>{{ post.date | date_to_long_string }}</small>
      {{ post.content }}
      <div class="pad"></div><hr class="line" /><div class="triplepad"></div>
      {% endfor %}
      </section>
      {% include header.html %}
      {% include footer.html %}
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
