<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <section>
      {{ content }}
      </section>
      {% include header.html %}
      <!-- <footer>
        <p><small>Ben Rodenhäuser 2017 | <a href="http://github.com/benrodenhaeuser">GitHub Profile</a></small></p>
      </footer> -->
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  {% include google-analytics.html %}
  </body>
</html>
